/* main.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: 'Roboto', sans-serif;
}

/* HomePage styles */
.home-page {
  margin: 0;
  /* Reset margin to remove default spacing */
  padding: 0;
  /* Reset padding to remove default spacing */
  height: 100vh;
}

.home-page_register-button{
  background-color:black;
  color:white !important;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  height:50px;
  width:200px;
}
.home-page-link{
  color: inherit;
  text-decoration: none;
}

.home-page_register-button:hover{
  background-color:rgb(83, 82, 82);
  color:black !important;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  cursor: pointer;
  height:50px;
  font-weight: 700;
  transition: color 0.3s, background-color 0.7s;
  width:200px;
}

.home-page_login-link{
  font-family: 'Roboto', sans-serif;
  margin:0px;
  font-size:15px;
}

.home-page_login-link:hover{
  font-family: 'Roboto', sans-serif;
  margin:0px;
  font-size:15px;
  text-decoration: underline;
}

.home-page__title {
  -webkit-text-stroke: .1px black;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /* You can adjust the font weight as needed (e.g., 400 for regular, 700 for bold) */
  font-size: 3rem;
  /* Adjust the font size as needed */
  color: black;
}

.home-page_text-section{
  height:300px;
  text-align: center;
}

.home-page__content {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* You can adjust the font weight as needed (e.g., 400 for regular, 700 for bold) */
  font-size: 1.5rem;
  /* Adjust the font size as needed */
  color: #333;
}

.home-div_center {
  display: flex;
  color: #3366ff;
  justify-content: center;
  /* Horizontally center */
  align-items: center;
  /* Vertically center */
}

/* LoginForm styles */
.login-form {
  margin: 20px;
}

.login-form input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
}

.login-form button {
  width: 70px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: black;
  color: #f0f0f0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*Navigation Bar Styles*/
.navigation-bar {
  background-color: black;
  height:80px;
  position: relative;
}

.navigation-bar {
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Add any necessary styles for the navbar */
}

.left-links,
.right-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
}

.left-links-li,
.right-links-li {
  margin-right: 10px;
  /* Add any necessary styles for the list items */
}

.dropdown-container {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  color:white;
  list-style-type: none;
  font-size: 10px;
  width:300px;
  padding:0px;
  z-index: 100;
}

.dropdown-elements {
  left:0px;
  margin:0px;
  width: 100%;
  height:100px;
  display: flex;
  align-items: flex-start;
}

.dropdown-elements-poster{
  height:100%;
  margin:0px;
  padding:0px;
  width:70px;
}

.movie-info {
  flex-grow: 1;
  width: 220px; /* Fixed width for the text area */
  height:100%;
  margin-left:10px;
  margin-top:10px;
  font-size: 15px;
  box-sizing: border-box;
  line-height: 1; /* Adjust as needed */
}

.movie-info a {
  margin: 0;
  padding:0;
  text-align: left;
  width:100%;
  height:100%;
  font-weight: bold;
}

.dropdown-elements:hover {
  background-color: white;
  color:black;
}

.navigation-bar .navbar li {
  line-height: 80px; /* Match the line-height with the navbar height */
}

.left-links b,
.right-links b {
  cursor: pointer;
  color: #f0f0f0;
}

.left-links a,
.right-links a {
  text-decoration: none;
}

.navigation-bar .navbar .left-links li b:hover,
.navigation-bar .navbar .right-links li b:hover {
  line-height: 80px; /* Match the line-height with the navbar height */
  color: black; /* Change the color to your desired hover color */
  background-color: white; /* Change the background color when hovering */
  transition: color 0.3s, background-color 0.3s; /* Add a smooth transition effect */
  border-radius: 2px;
  height: 100%;
}

.right-links .dropdown {
  position: relative;
  display: inline-block;
}

.right-links .dropbtn {
  font-family: 'Roboto', sans-serif;
  cursor: pointer;
}

.right-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: black; /* Add your desired background color */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color:white;
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  top: 100%; /* Position the dropdown below the button */
  left: -65%; /* Center the dropdown horizontally */
}

.right-links .dropdown-content a {
  color: black; /* Add your desired text color */
  padding:0 10px;
  text-decoration: none;
  display: block;
  font-family: 'Roboto', sans-serif;
  color:white;
}

.right-links .dropdown-content a:hover {
  border-radius: 4px;
  background-color: #ddd; /* Add your desired background color on hover */
  color: black; /* Add your desired text color on hover */
}

.right-links .dropdown:hover .dropdown-content {
  display: block;
}

/*Event content Styles*/
.event-content {
  border: none;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  color: white;
}

.event-content button {
  position: absolute;
  top: 0;
  right: 0;
  content: 'x';
  font-weight: 300;
  font-family: Arial, sans-serif;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/*Legend Styles*/
.legend {
  list-style-type: none;
  padding: 0;
}

.legend-item {
  display: inline-block;
  margin: 0 10px 10px 0;
  align-items: center;
  flex-direction: row;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-right: 5px;
  border: 1px solid black;
}

.movie-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.movie-poster {
  width: 100px;
  height: auto;
  /* Maintain aspect ratio */
  margin-right: 20px;
}

.movie-details {
  flex: 1;
  text-align: left;
}

.movie-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px;
}

.movie-item {
  width: 140px;
  /* Adjust the width based on your preference */
  margin-bottom: 20px;
  position: relative;
  /* Add position relative for positioning the title overlay */
}

.movie-poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
  /* Optional: Add border-radius for a rounded appearance */
}

.movie-title-overlay {
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  /* Add a semi-transparent black overlay */
  color: #fff;
  /* Text color for the title */
  padding: 8px;
  /* Add padding for better visibility */
  box-sizing: border-box;
  font-size: 12px;
  /* Adjust font size as needed */
  text-align: center;
  opacity: 0;
  /* Initially hide the overlay */
  transition: opacity 0.3s ease;
  /* Add a smooth transition effect */
}

.movie-item:hover .movie-title-overlay {
  opacity: 1;
  /* Show the overlay on hover */
}

.movie-poster-catalog {
  height: 200px;
  margin: 20px;
  border-radius: 8px;
  /* Optional: Add border-radius for a rounded appearance */
}
.elements-movie-title{
  margin:0px;
  padding-left: 70px;
}

.heading-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /* You can adjust the font weight as needed (e.g., 400 for regular, 700 for bold) */
  font-size: 2rem;
  /* Adjust the font size as needed */
  color: #333;
  /* Adjust the color as needed */
  /* Additional styling properties can be added here */
}

.table-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  /* You can adjust the font weight as needed (e.g., 400 for regular, 700 for bold) */
  font-size: 1.7rem;
  /* Adjust the font size as needed */
  color: black;
  /* Adjust the color as needed */
}

.table-body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* You can adjust the font weight as needed (e.g., 400 for regular, 700 for bold) */
  font-size: 1.1rem;
  /* Adjust the font size as needed */
  color: black;
  /* Adjust the color as needed */
}

.svg-icon {
  cursor: pointer;
  color: black; /* You can set the color to your preference */
  transition: box-shadow 0.3s ease;
}

.svg-icon-nav {
  cursor: pointer;
  color: white; /* You can set the color to your preference */
  transition: box-shadow 0.3s ease;
}

.svg-icon:hover {
  box-shadow: 0 0 5px 2px white;
  color: rgba(19, 18, 18, 0.994); /* Change the color on hover if desired */
}

.div-style {
  float:left;
  width:50%;
};

.main-movie-div {
  display: flex;
}

.specific-movie-title{
  font-family: 'Roboto', sans-serif;
}

.specific-movie-score{
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.specific-movie-score-icon{
  font-size: 30px;
  color:gold;
}

.specific-movie-poster{
  margin-top: 20px;
  padding-left:20px;
  flex: 0 0 200px; /* flex-grow: 0, flex-shrink: 0, width: 300px */
}
.specific-movie-details{
  padding:20px 100px 20px 100px;
  flex:1;
  width:100%;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  text-align: justify;
}

.footer-content{
  height:200px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  background-color: black;
  color:white;
  text-decoration: none;
  margin:0;
  padding-top:50px;
}

/* Remove color for visited links */
.footer-content a:visited {
  color: inherit;
}

/* Remove color for active/pressed links */
.footer-content a:active {
  color: inherit;
}

.login-div{
  margin-left: 250px;
  margin-right: 250px;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  height:600px;
}

.status{
  color:white;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  width:100px;
  text-align: center;
  padding-top: 10px;
}

.status-Completed {
  background-color: blue;
}

.status-Dropped {
  background-color: red; /* Set your desired color for dropped status */
}

.status-Plan-to-watch {
  background-color: yellow; /* Set your desired color for plan-to-watch status */
}

.status-Watching {
  background-color: green; /* Set your desired color for watching status */
}

.status-Unwatched {
  background-color: black;
}

.form-add-movie{
  margin-top:10px
}